In [2]:
import sqlite3
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.float_format', lambda x: '%.3f' % x)

In [4]:
conn = sqlite3.connect('sample_db.sqlite3')
c = conn.cursor()

In [9]:
def exp_smoothing(series, alpha):
    return sum([alpha * (1 - alpha) ** i * x for i, x in enumerate(reversed(series))])

In [11]:
revenue_list = []
revenue = c.execute("select rev from actual where seg_id=1 order by date LIMIT 12")
for alpha in revenue:
    revenue_list.append(alpha[0])
print(revenue_list)

[6806425.71, 3318648.0, 6252736.0, 9023272.0, 3592011.4028, 2682894.0, 6404799.0, 5367100.0, 3335506.0, 2746567.1, 4396821.0, 2883258.0]

In [12]:
month_list =["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sept",
             "Oct","Nov","Dec"]

In [13]:
df = pd.DataFrame({'month':month_list,'revenue':revenue_list})

In [14]:
print(df)

   month     revenue
0    Jan 6806425.710
1    Feb 3318648.000
2    Mar 6252736.000
3    Apr 9023272.000
4    May 3592011.403
5    Jun 2682894.000
6    Jul 6404799.000
7    Aug 5367100.000
8   Sept 3335506.000
9    Oct 2746567.100
10   Nov 4396821.000
11   Dec 2883258.000

In [15]:
predicted = exp_smoothing(df['revenue'],0.8)

print(predicted)

3128040.23268

In [18]:
actual = 9032984.78

In [19]:
print(actual)

9032984.78